.@{quillPreCls} {
  height: 100%;
  max-height: 100%;
  overflow: hidden;

  &-header {
    display: flex;
    width: 100%;
    align-items: center;

    &-title {
      height: calc(60 * var(--hd));
      border-left: none;
      border-right: none;
      background: none !important;
      font-size: calc(24 * var(--hd));

      &:focus {
        border-color: rgb(242, 243, 245);
      }
    }

    &-extra {
      width: calc(500 * var(--hd));

      .@{quillPreCls}-header-word-count {
        color: var(--regular-fc);
        margin: 0 var(--space-10);
      }
    }
  }

  &-content {
    display: flex;
    width: 100%;
    height: calc(100% - 90 * var(--hd));

    &-row,
    &-col {
      width: 100%;
      height: 100%;
    }

    .@{quillPreCls}-quill {
      height: calc(100%);
      display: flex;
      flex-direction: column;
    }

    .@{quillPreCls}-quill-write {
      background: rgb(248, 249, 250);
    }

    .@{quillPreCls}-quill-read {
      width: 100%;
    }

    .@{quillPreCls}-quill-read-head {
      @media screen and (max-width: 1720px) {
        height: calc(48 * var(--hd));
      }

      @media screen and (max-width: 900px) {
        height: calc(71 * var(--hd));
      }

      @media screen and (max-width: 680px) {
        height: calc(95 * var(--hd));
      }

      @media screen and (max-width: 500px) {
        height: calc(119 * var(--hd));
      }

      width: 100%;
      height: calc(24 * var(--hd));
      padding:var(--space-8) 0;
      border-top: var(--hd) solid rgb(204, 204, 204);
      background: rgb(248, 249, 250);
    }

    .@{quillPreCls}-quill-read-con-wrap {
      flex: 1;
      overflow-y: scroll;
    }

    .@{quillPreCls}-quill-read-con {
      height: 100%;
      border: var(--hd) solid rgb(204, 204, 204);
    }
  }

  &-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: var(--font-size-12);
    color: var(--main-fc);
    line-height: calc(25 * var(--hd));
  }

  &-form {
    &-textarea {
      resize: none;
      height: calc(90 * var(--hd));
    }

    &-upload {
      width: calc(80 * var(--hd));
      height: calc(80 * var(--hd));
      position: relative;
      border-radius: calc(3 * var(--hd));
      overflow: hidden;
      padding: var(--space-2);

      &:hover .@{quillPreCls}-form-upload-mask {
        opacity: 1;
      }
    }

    &-upload-img {
      width: 100%;
      height: 100%;
    }

    &-upload-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-upload-icon-edit {
      color: var(--baseWhite);
    }

    &-upload-mask-wrap {
      width: 100%;
      height: 100%;
    }

    &-upload-mask {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, .5);
      opacity: 0;
    }

    &-upload-add {
      width: 100%;
      height: 100%;
      border: var(--hd) dashed rgb(229, 230, 235);
      color: var(--secondary-fc);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        border-color: rgb(201, 205, 212);
        background-color: rgb(229, 230, 235);
      }
    }
  }

  .ql-container,
  .ql-snow {
    border-right: 0 !important;
    border-left: 0 !important;
  }

  .ql-container {
    flex: 1;
    overflow: hidden;
    font-size: var(--font-size-14) !important;
  }
}